@model IEnumerable<MandatoryAssignment_ASP.Models.Submission>

@{
    ViewData["Title"] = "ViewSubmission";
}

<h2>All submissions:</h2>

<p>All valid submissions can be seen below</p>
<p>
    <a asp-action="Submit">Submit new submission</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
        </tr>
}
    </tbody>
</table>
